body {
  font-family: '-apple-system', 'Helvetica', 'Arial', 'sans-serif';
  background: #fff;
}
h1 {
  font-size: 16px;
  font-weight: normal;
  background: #eee;
  color: #333;
  padding: 10px;
  margin: 36px 0;
}
h2 {
  font-size: 16px;
  font-weight: normal;
  padding-left: 10px;
  margin: 36px 0 18px;
}
a {
  color: #2980b9;
  text-decoration: none;
}
p {
  font-size: 16px;
  padding-left: 10px;
  color: #5a5a5a;
}
.header {
  text-align: center;
}
.header img {
  height: 100px;
}
.meetup .name {
  color: #f64060;
}
.meetup .date {
  color: #777777;
}
